/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    margin-bottom: 0%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: inline-start;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav #brand {
    float: inline-start;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.topnav i {
    float: inline-start;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #4b4a4a;
    color: grey;
}

/* Add an active class to highlight the current page */
/*
.topnav a.active {
    background-color: #747070;
    color: white;
}*/

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}



footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-about, .footer-links, .footer-contact {
    width: 30%;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin: 8px 0;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}




@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
@media screen and (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-about, .footer-links, .footer-contact {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
