/* recipes.css */

/* General Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:white;
    color: #333;
    line-height: 1.6;
}

/* Recipe Section */
.recipe-section {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: rgb(107, 149, 142);
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-section h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.recipe-card {
    background-color: #f0f0f0;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #0a0a0a;
    border-radius: 5px;
}

.recipe-card h3 {
    margin: 0;
    color: #0c0e10;
}

.recipe-card p {
    margin: 5px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .recipe-section {
        margin: 10px;
        padding: 15px;
    }
    .recipe-card {
        padding: 10px;
        border-left-width: 3px;
    }
}

@media (max-width: 480px) {
    .recipe-section h2{
        font-size: 1.2rem;
    }

   
}
